[submodule "src/Utility"]
	path = src/Utility
	url = https://github.com/McSCert/Simulink-Utility.git
[submodule "src/LineToGotoFrom"]
	path = src/LineToGotoFrom
	url = https://github.com/McSCert/LineToGotoFrom.git
